{% extends '::base.html.twig' %}

{% block title %}Cambio de Contrase&ntilde;a - Nayar Consultora{% endblock %}
{% block body %}
    <span class="pathway">Cambio de Contrase&ntilde;a</span>
		<div class="clr"></div>

		<div id="contentblock">

		    {{ mensaje }}

		    <!-- Fin codigo ads -->
		</div>

		<div class="clr"></div>
{% endblock %}
