<html>
    <head>

    </head>
    <body>At. Sr. {{ usuario }} :
	<div><br></div>
	<div>
	    <span class="Apple-tab-span" style="white-space:pre">
	    </span>&nbsp; &nbsp; &nbsp;
	    Se ha solicitado el reseteo de la contraseña de su cuenta en el sistema de tickets del treatro.
	    Para hacer efectivo dicho cambio, es necesario que ingrese el siguiente código:
	    {{ codigo }}
	</div>
	<div><br></div>
	<div>
	&nbsp; &nbsp; &nbsp;
	    El c&oacute;digo solo puede usarse hoy.
	</div>
	<div><br></div>
	<div>
	&nbsp; &nbsp; &nbsp;
	    Si ud no ha solicitado el reseteo de contrase&ntilde;a, puede ignorar este mensaje.
	</div>
	<div><br></div>
	<div>Atentamente,</div>

    </body>
</html>